<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastrar</title>
</head>
<body>
    <h1>Novo / Atualizar Funcionario</h1>
    <form method="POST">
        {% csrf_token %}
        {{ formulario }}
        <button type="submit">Salvar</button>
    </form>

    {% if funcionario %}
        <a href="/excluir/{{funcionario.id}}">Excluir</a>
    {% endif %}
</body>
</html>