<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista</title>
</head>
<body>
    <table>
        <thead>
            <tr>
                <th>Nome</th>
                <th>Sobrenome</th>
                <th>Editar</th>
            </tr>
        </thead>
        <tbody>
            {% for funcionario in funcionarios %}
            <tr>
                <td>{{ funcionario.nome}}</td>
                <td>{{ funcionario.sobrenome}}</td>
                <td><a href="/atualizar/{{ funcionario.id }}">Editar funcionário</a></td>
            </tr>    
            {% endfor %}  
        </tbody> 
    </table> 

    <a href="/cadastrar">Novo Funcionario</a>
</body>
</html>